/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/



.animated {

  animation-duration: 0.25s;

  animation-fill-mode: both; }



.animated.infinite {

  animation-iteration-count: infinite; }




@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }


.fadeIn {

  animation-name: fadeIn; }

@keyframes fadeInDown {
  0% {
    opacity: 0;

    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;

    transform: none; } }


.fadeInDown {

  animation-name: fadeInDown; }

@keyframes fadeInDownBig {
  0% {
    opacity: 0;

    transform: translate3d(0, -2000px, 0); }
  100% {
    opacity: 1;

    transform: none; } }


.fadeInDownBig {

  animation-name: fadeInDownBig; }


@keyframes fadeInLeft {
  0% {
    opacity: 0;

    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;

    transform: none; } }


.fadeInLeft {

  animation-name: fadeInLeft; }

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;

    transform: translate3d(-2000px, 0, 0); }
  100% {
    opacity: 1;

    transform: none; } }


.fadeInLeftBig {

  animation-name: fadeInLeftBig; }

@keyframes fadeInRight {
  0% {
    opacity: 0;

    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;

    transform: none; } }


.fadeInRight {

  animation-name: fadeInRight; }

@keyframes fadeInRightBig {
  0% {
    opacity: 0;

    transform: translate3d(2000px, 0, 0); }
  100% {
    opacity: 1;

    transform: none; } }


.fadeInRightBig {

  animation-name: fadeInRightBig; }

@keyframes fadeInUp {
  0% {
    opacity: 0;

    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;

    transform: none; } }


.fadeInUp {

  animation-name: fadeInUp; }

@keyframes fadeInUpBig {
  0% {
    opacity: 0;

    transform: translate3d(0, 2000px, 0); }
  100% {
    opacity: 1;

    transform: none; } }


.fadeInUpBig {

  animation-name: fadeInUpBig; }


@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }


.fadeOut {

  animation-name: fadeOut; }


@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(0, 100%, 0); } }


.fadeOutDown {

  animation-name: fadeOutDown; }


@keyframes fadeOutDownBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(0, 2000px, 0); } }


.fadeOutDownBig {

  animation-name: fadeOutDownBig; }


@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(-100%, 0, 0); } }


.fadeOutLeft {

  animation-name: fadeOutLeft; }


@keyframes fadeOutLeftBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(-2000px, 0, 0); } }


.fadeOutLeftBig {

  animation-name: fadeOutLeftBig; }


@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(100%, 0, 0); } }


.fadeOutRight {

  animation-name: fadeOutRight; }

@-webkit-keyframes fadeOutRightBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(2000px, 0, 0); } }
@keyframes fadeOutRightBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(2000px, 0, 0); } }


.fadeOutRightBig {

  animation-name: fadeOutRightBig; }

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(0, -100%, 0); } }
@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(0, -100%, 0); } }


.fadeOutUp {

  animation-name: fadeOutUp; }

@keyframes fadeOutUpBig {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(0, -2000px, 0); } }


.fadeOutUpBig {

  animation-name: fadeOutUpBig; }



















@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    transform: translate3d(0, 0, 0); }
  40%, 43% {

    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);

    transform: translate3d(0, -30px, 0); }
  70% {

    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);

    transform: translate3d(0, -15px, 0); }
  90% {

    transform: translate3d(0, -4px, 0); } }


.bounce {

  animation-name: bounce;

  transform-origin: center bottom; }

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }


.flash {

  animation-name: flash; }

@keyframes pulse {
  0% {

    transform: scale3d(1, 1, 1); }
  50% {

    transform: scale3d(1.05, 1.05, 1.05); }
  100% {

    transform: scale3d(1, 1, 1); } }


.pulse {

  animation-name: pulse; }

@keyframes rubberBand {
  0% {

    transform: scale3d(1, 1, 1); }
  30% {

    transform: scale3d(1.25, 0.75, 1); }
  40% {

    transform: scale3d(0.75, 1.25, 1); }
  50% {

    transform: scale3d(1.15, 0.85, 1); }
  65% {

    transform: scale3d(0.95, 1.05, 1); }
  75% {

    transform: scale3d(1.05, 0.95, 1); }
  100% {

    transform: scale3d(1, 1, 1); } }


.rubberBand {

  animation-name: rubberBand; }

@-webkit-keyframes shake {
  0%, 100% {

    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {

    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {

    transform: translate3d(10px, 0, 0); } }
@keyframes shake {
  0%, 100% {

    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {

    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {

    transform: translate3d(10px, 0, 0); } }


.shake {

  animation-name: shake; }

@-webkit-keyframes swing {
  20% {

    transform: rotate3d(0, 0, 1, 15deg); }
  40% {

    transform: rotate3d(0, 0, 1, -10deg); }
  60% {

    transform: rotate3d(0, 0, 1, 5deg); }
  80% {

    transform: rotate3d(0, 0, 1, -5deg); }
  100% {

    transform: rotate3d(0, 0, 1, 0deg); } }
@keyframes swing {
  20% {

    transform: rotate3d(0, 0, 1, 15deg); }
  40% {

    transform: rotate3d(0, 0, 1, -10deg); }
  60% {

    transform: rotate3d(0, 0, 1, 5deg); }
  80% {

    transform: rotate3d(0, 0, 1, -5deg); }
  100% {

    transform: rotate3d(0, 0, 1, 0deg); } }


.swing {

  transform-origin: top center;

  animation-name: swing; }

@-webkit-keyframes tada {
  0% {

    transform: scale3d(1, 1, 1); }
  10%, 20% {

    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {

    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {

    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {

    transform: scale3d(1, 1, 1); } }
@keyframes tada {
  0% {

    transform: scale3d(1, 1, 1); }
  10%, 20% {

    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {

    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {

    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {

    transform: scale3d(1, 1, 1); } }


.tada {

  animation-name: tada; }



@-webkit-keyframes wobble {
  0% {

    transform: none; }
  15% {

    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {

    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {

    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {

    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {

    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  100% {

    transform: none; } }
@keyframes wobble {
  0% {

    transform: none; }
  15% {

    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {

    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {

    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {

    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {

    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  100% {

    transform: none; } }


.wobble {

  animation-name: wobble; }

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3); }
  20% {

    transform: scale3d(1.1, 1.1, 1.1); }
  40% {

    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;

    transform: scale3d(1.03, 1.03, 1.03); }
  80% {

    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;

    transform: scale3d(1, 1, 1); } }
@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3); }
  20% {

    transform: scale3d(1.1, 1.1, 1.1); }
  40% {

    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;

    transform: scale3d(1.03, 1.03, 1.03); }
  80% {

    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;

    transform: scale3d(1, 1, 1); } }


.bounceIn {

  animation-name: bounceIn;

  animation-duration: .75s; }

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;

    transform: translate3d(0, 25px, 0); }
  75% {

    transform: translate3d(0, -10px, 0); }
  90% {

    transform: translate3d(0, 5px, 0); }
  100% {

    transform: none; } }
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;

    transform: translate3d(0, 25px, 0); }
  75% {

    transform: translate3d(0, -10px, 0); }
  90% {

    transform: translate3d(0, 5px, 0); }
  100% {

    transform: none; } }


.bounceInDown {

  animation-name: bounceInDown; }

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;

    transform: translate3d(25px, 0, 0); }
  75% {

    transform: translate3d(-10px, 0, 0); }
  90% {

    transform: translate3d(5px, 0, 0); }
  100% {

    transform: none; } }
@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: translate3d(-3000px, 0, 0); }
  60% {
    opacity: 1;

    transform: translate3d(25px, 0, 0); }
  75% {

    transform: translate3d(-10px, 0, 0); }
  90% {

    transform: translate3d(5px, 0, 0); }
  100% {

    transform: none; } }


.bounceInLeft {

  animation-name: bounceInLeft; }

@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;

    transform: translate3d(-25px, 0, 0); }
  75% {

    transform: translate3d(10px, 0, 0); }
  90% {

    transform: translate3d(-5px, 0, 0); }
  100% {

    transform: none; } }
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: translate3d(3000px, 0, 0); }
  60% {
    opacity: 1;

    transform: translate3d(-25px, 0, 0); }
  75% {

    transform: translate3d(10px, 0, 0); }
  90% {

    transform: translate3d(-5px, 0, 0); }
  100% {

    transform: none; } }


.bounceInRight {

  animation-name: bounceInRight; }

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;

    transform: translate3d(0, -20px, 0); }
  75% {

    transform: translate3d(0, 10px, 0); }
  90% {

    transform: translate3d(0, -5px, 0); }
  100% {

    transform: translate3d(0, 0, 0); } }
@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {

    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;

    transform: translate3d(0, 3000px, 0); }
  60% {
    opacity: 1;

    transform: translate3d(0, -20px, 0); }
  75% {

    transform: translate3d(0, 10px, 0); }
  90% {

    transform: translate3d(0, -5px, 0); }
  100% {

    transform: translate3d(0, 0, 0); } }


.bounceInUp {

  animation-name: bounceInUp; }

@-webkit-keyframes bounceOut {
  20% {

    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;

    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3); } }
@keyframes bounceOut {
  20% {

    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    opacity: 1;

    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3); } }


.bounceOut {

  animation-name: bounceOut;

  animation-duration: .75s; }

@-webkit-keyframes bounceOutDown {
  20% {

    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;

    transform: translate3d(0, -20px, 0); }
  100% {
    opacity: 0;

    transform: translate3d(0, 2000px, 0); } }
@keyframes bounceOutDown {
  20% {

    transform: translate3d(0, 10px, 0); }
  40%, 45% {
    opacity: 1;

    transform: translate3d(0, -20px, 0); }
  100% {
    opacity: 0;

    transform: translate3d(0, 2000px, 0); } }


.bounceOutDown {

  animation-name: bounceOutDown; }

@-webkit-keyframes bounceOutLeft {
  20% {
    opacity: 1;

    transform: translate3d(20px, 0, 0); }
  100% {
    opacity: 0;

    transform: translate3d(-2000px, 0, 0); } }
@keyframes bounceOutLeft {
  20% {
    opacity: 1;

    transform: translate3d(20px, 0, 0); }
  100% {
    opacity: 0;

    transform: translate3d(-2000px, 0, 0); } }


.bounceOutLeft {

  animation-name: bounceOutLeft; }

@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;

    transform: translate3d(-20px, 0, 0); }
  100% {
    opacity: 0;

    transform: translate3d(2000px, 0, 0); } }
@keyframes bounceOutRight {
  20% {
    opacity: 1;

    transform: translate3d(-20px, 0, 0); }
  100% {
    opacity: 0;

    transform: translate3d(2000px, 0, 0); } }


.bounceOutRight {

  animation-name: bounceOutRight; }

@-webkit-keyframes bounceOutUp {
  20% {

    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;

    transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 0;

    transform: translate3d(0, -2000px, 0); } }
@keyframes bounceOutUp {
  20% {

    transform: translate3d(0, -10px, 0); }
  40%, 45% {
    opacity: 1;

    transform: translate3d(0, 20px, 0); }
  100% {
    opacity: 0;

    transform: translate3d(0, -2000px, 0); } }


.bounceOutUp {

  animation-name: bounceOutUp; }



@keyframes flip {
  0% {

    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);

    animation-timing-function: ease-out; }
  40% {

    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);

    animation-timing-function: ease-out; }
  50% {

    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);

    animation-timing-function: ease-in; }
  80% {

    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);

    animation-timing-function: ease-in; }
  100% {

    transform: perspective(400px);

    animation-timing-function: ease-in; } }


.animated.flip {

  -ms-backface-visibility: visible;
  backface-visibility: visible;

  animation-name: flip; }

@-webkit-keyframes flipInX {
  0% {

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    transition-timing-function: ease-in;
    opacity: 0; }
  40% {

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    transition-timing-function: ease-in; }
  60% {

    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {

    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {

    transform: perspective(400px); } }
@keyframes flipInX {
  0% {

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);

    transition-timing-function: ease-in;
    opacity: 0; }
  40% {

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);

    transition-timing-function: ease-in; }
  60% {

    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {

    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {

    transform: perspective(400px); } }


.flipInX {

  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;

  animation-name: flipInX; }

@-webkit-keyframes flipInY {
  0% {

    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);

    transition-timing-function: ease-in;
    opacity: 0; }
  40% {

    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);

    transition-timing-function: ease-in; }
  60% {

    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {

    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  100% {

    transform: perspective(400px); } }
@keyframes flipInY {
  0% {

    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);

    transition-timing-function: ease-in;
    opacity: 0; }
  40% {

    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);

    transition-timing-function: ease-in; }
  60% {

    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1; }
  80% {

    transform: perspective(400px) rotate3d(0, 1, 0, -5deg); }
  100% {

    transform: perspective(400px); } }


.flipInY {

  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;

  animation-name: flipInY; }

@-webkit-keyframes flipOutX {
  0% {

    transform: perspective(400px); }
  30% {

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  100% {

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }
@keyframes flipOutX {
  0% {

    transform: perspective(400px); }
  30% {

    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  100% {

    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }


.flipOutX {

  animation-name: flipOutX;

  animation-duration: .75s;

  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important; }

@-webkit-keyframes flipOutY {
  0% {

    transform: perspective(400px); }
  30% {

    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  100% {

    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }
@keyframes flipOutY {
  0% {

    transform: perspective(400px); }
  30% {

    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  100% {

    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }


.flipOutY {

  -ms-backface-visibility: visible !important;
  backface-visibility: visible !important;

  animation-name: flipOutY;

  animation-duration: .75s; }

@-webkit-keyframes lightSpeedIn {
  0% {

    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {

    transform: skewX(20deg);
    opacity: 1; }
  80% {

    transform: skewX(-5deg);
    opacity: 1; }
  100% {

    transform: none;
    opacity: 1; } }
@keyframes lightSpeedIn {
  0% {

    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0; }
  60% {

    transform: skewX(20deg);
    opacity: 1; }
  80% {

    transform: skewX(-5deg);
    opacity: 1; }
  100% {

    transform: none;
    opacity: 1; } }


.lightSpeedIn {

  animation-name: lightSpeedIn;

  animation-timing-function: ease-out; }

@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {

    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }
@keyframes lightSpeedOut {
  0% {
    opacity: 1; }
  100% {

    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0; } }


.lightSpeedOut {

  animation-name: lightSpeedOut;

  animation-timing-function: ease-in; }

@-webkit-keyframes rotateIn {
  0% {

    transform-origin: center;

    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {

    transform-origin: center;

    transform: none;
    opacity: 1; } }
@keyframes rotateIn {
  0% {

    transform-origin: center;

    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {

    transform-origin: center;

    transform: none;
    opacity: 1; } }


.rotateIn {

  animation-name: rotateIn; }

@-webkit-keyframes rotateInDownLeft {
  0% {

    transform-origin: left bottom;

    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  100% {

    transform-origin: left bottom;

    transform: none;
    opacity: 1; } }
@keyframes rotateInDownLeft {
  0% {

    transform-origin: left bottom;

    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }
  100% {

    transform-origin: left bottom;

    transform: none;
    opacity: 1; } }


.rotateInDownLeft {

  animation-name: rotateInDownLeft; }

@-webkit-keyframes rotateInDownRight {
  0% {

    transform-origin: right bottom;

    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  100% {

    transform-origin: right bottom;

    transform: none;
    opacity: 1; } }
@keyframes rotateInDownRight {
  0% {

    transform-origin: right bottom;

    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  100% {

    transform-origin: right bottom;

    transform: none;
    opacity: 1; } }


.rotateInDownRight {

  animation-name: rotateInDownRight; }

@-webkit-keyframes rotateInUpLeft {
  0% {

    transform-origin: left bottom;

    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  100% {

    transform-origin: left bottom;

    transform: none;
    opacity: 1; } }
@keyframes rotateInUpLeft {
  0% {

    transform-origin: left bottom;

    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }
  100% {

    transform-origin: left bottom;

    transform: none;
    opacity: 1; } }


.rotateInUpLeft {

  animation-name: rotateInUpLeft; }

@-webkit-keyframes rotateInUpRight {
  0% {

    transform-origin: right bottom;

    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  100% {

    transform-origin: right bottom;

    transform: none;
    opacity: 1; } }
@keyframes rotateInUpRight {
  0% {

    transform-origin: right bottom;

    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }
  100% {

    transform-origin: right bottom;

    transform: none;
    opacity: 1; } }


.rotateInUpRight {

  animation-name: rotateInUpRight; }

@-webkit-keyframes rotateOut {
  0% {

    transform-origin: center;
    opacity: 1; }
  100% {

    transform-origin: center;

    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }
@keyframes rotateOut {
  0% {

    transform-origin: center;
    opacity: 1; }
  100% {

    transform-origin: center;

    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }


.rotateOut {

  animation-name: rotateOut; }

@-webkit-keyframes rotateOutDownLeft {
  0% {

    transform-origin: left bottom;
    opacity: 1; }
  100% {

    transform-origin: left bottom;

    transform: rotate(0, 0, 1, 45deg);
    opacity: 0; } }
@keyframes rotateOutDownLeft {
  0% {

    transform-origin: left bottom;
    opacity: 1; }
  100% {

    transform-origin: left bottom;

    transform: rotate(0, 0, 1, 45deg);
    opacity: 0; } }


.rotateOutDownLeft {

  animation-name: rotateOutDownLeft; }

@-webkit-keyframes rotateOutDownRight {
  0% {

    transform-origin: right bottom;
    opacity: 1; }
  100% {

    transform-origin: right bottom;

    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@keyframes rotateOutDownRight {
  0% {

    transform-origin: right bottom;
    opacity: 1; }
  100% {

    transform-origin: right bottom;

    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }


.rotateOutDownRight {

  animation-name: rotateOutDownRight; }

@-webkit-keyframes rotateOutUpLeft {
  0% {

    transform-origin: left bottom;
    opacity: 1; }
  100% {

    transform-origin: left bottom;

    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@keyframes rotateOutUpLeft {
  0% {

    transform-origin: left bottom;
    opacity: 1; }
  100% {

    transform-origin: left bottom;

    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }


.rotateOutUpLeft {

  animation-name: rotateOutUpLeft; }

@-webkit-keyframes rotateOutUpRight {
  0% {

    transform-origin: right bottom;
    opacity: 1; }
  100% {

    transform-origin: right bottom;

    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }
@keyframes rotateOutUpRight {
  0% {

    transform-origin: right bottom;
    opacity: 1; }
  100% {

    transform-origin: right bottom;

    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }


.rotateOutUpRight {

  animation-name: rotateOutUpRight; }

@-webkit-keyframes hinge {
  0% {

    transform-origin: top left;

    animation-timing-function: ease-in-out; }
  20%, 60% {

    transform: rotate3d(0, 0, 1, 80deg);

    transform-origin: top left;

    animation-timing-function: ease-in-out; }
  40%, 80% {

    transform: rotate3d(0, 0, 1, 60deg);

    transform-origin: top left;

    animation-timing-function: ease-in-out;
    opacity: 1; }
  100% {

    transform: translate3d(0, 700px, 0);
    opacity: 0; } }
@keyframes hinge {
  0% {

    transform-origin: top left;

    animation-timing-function: ease-in-out; }
  20%, 60% {

    transform: rotate3d(0, 0, 1, 80deg);

    transform-origin: top left;

    animation-timing-function: ease-in-out; }
  40%, 80% {

    transform: rotate3d(0, 0, 1, 60deg);

    transform-origin: top left;

    animation-timing-function: ease-in-out;
    opacity: 1; }
  100% {

    transform: translate3d(0, 700px, 0);
    opacity: 0; } }


.hinge {

  animation-name: hinge; }



@-webkit-keyframes rollIn {
  0% {
    opacity: 0;

    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  100% {
    opacity: 1;

    transform: none; } }
@keyframes rollIn {
  0% {
    opacity: 0;

    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg); }
  100% {
    opacity: 1;

    transform: none; } }


.rollIn {

  animation-name: rollIn; }



@-webkit-keyframes rollOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); } }
@keyframes rollOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;

    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg); } }


.rollOut {

  animation-name: rollOut; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }


.zoomIn {

  animation-name: zoomIn; }

@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInDown {
  0% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }


.zoomInDown {

  animation-name: zoomInDown; }

@-webkit-keyframes zoomInLeft {
  0% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInLeft {
  0% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }


.zoomInLeft {

  animation-name: zoomInLeft; }

@-webkit-keyframes zoomInRight {
  0% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInRight {
  0% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }


.zoomInRight {

  animation-name: zoomInRight; }

@-webkit-keyframes zoomInUp {
  0% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInUp {
  0% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }


.zoomInUp {

  animation-name: zoomInUp; }

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }
@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;

    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }


.zoomOut {

  animation-name: zoomOut; }

@-webkit-keyframes zoomOutDown {
  40% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);

    transform-origin: center bottom;

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOutDown {
  40% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);

    transform-origin: center bottom;

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }


.zoomOutDown {

  animation-name: zoomOutDown; }

@-webkit-keyframes zoomOutLeft {
  40% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  100% {
    opacity: 0;

    transform: scale(0.1) translate3d(-2000px, 0, 0);

    transform-origin: left center; } }
@keyframes zoomOutLeft {
  40% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }
  100% {
    opacity: 0;

    transform: scale(0.1) translate3d(-2000px, 0, 0);

    transform-origin: left center; } }


.zoomOutLeft {

  animation-name: zoomOutLeft; }

@-webkit-keyframes zoomOutRight {
  40% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  100% {
    opacity: 0;

    transform: scale(0.1) translate3d(2000px, 0, 0);

    transform-origin: right center; } }
@keyframes zoomOutRight {
  40% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }
  100% {
    opacity: 0;

    transform: scale(0.1) translate3d(2000px, 0, 0);

    transform-origin: right center; } }


.zoomOutRight {

  animation-name: zoomOutRight; }

@-webkit-keyframes zoomOutUp {
  40% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);

    transform-origin: center bottom;

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOutUp {
  40% {
    opacity: 1;

    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);

    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  100% {
    opacity: 0;

    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);

    transform-origin: center bottom;

    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }


.zoomOutUp {

  animation-name: zoomOutUp; }