h1, .event-title {
	font-family: "adelle", serif;
    font-size: 3em;
    margin: 0px;
    padding-top:1em;
    padding-bottom: 0.2em;
    line-height: 103%;
}

h2 {
    font-family: "adelle";
    font-weight: bold;
    margin-bottom: 0.2em;
}

p {
    margin-top: 0.1em;
}

p.calltoaction {
	float: right;
	max-width: 33%;
	text-align: center;
}

#contactDetails .calltoaction {
	margin-top:0;
}

.small {
	font-size: 75%;
}

html, body {
	position:relative;
    font-family: "acumin-pro", sans-serif;
	font-size: 16px;
	color: #333333;
	line-height: 1.4;
    padding: 0px;
    margin: 0px;
    min-width: 320px;
    background: #333;
    z-index: -2;
}

main {
    background: #E3EDE6;
    z-index: -1;
    padding-top: 0em;
    padding-bottom: 6em;
}

main:first-child {
    padding-top: 5em;
}

a {
    color:inherit;
}

a:hover {
	color:#CCDDCC;
}

a.button:hover {
	color:#ffffff;
}

a.button, footer a, h3 a, h2 a, nav a {
	    text-decoration: none;
}

main a {
	color: #333333;
}

input, textarea {
	font-size: 1em;
}


.button, .buttonMinor {
	padding: .66em 1.66em .9em;
	border-radius: .33em;
	display: inline-block;
	background-color: rgba(58, 171, 111, 1);
	border-top:1px solid rgba(255,255,255,0.6);
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.6);
	color: white;
    text-align: center;
}

.buttonMinor {
    background-color: rgba(255, 255, 255, 1);
    border:solid 2px #CBB280;
    color: #CBB280 !important;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);

}

p .button {
    width: 100%;
    box-sizing: border-box;
    margin-top: 1em;
}

.button.disabled, .button.disabled:hover, .button.disabled:focus {
	background: grey;
	color: #CCC;
	cursor: default;
}

.button:focus, .button:hover {
	background-color: rgba(31, 170, 91,1);
}

.button:active, .button.selected {
	background-color: rgba(137, 194, 120, 1);
	box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .5), inset 0 2px 0 1px rgba(58,171,111, 0.5);
}

span.selected {
	color:#CCCCCC !important;
}


header {
    width: 100%;
    background-color: #29B465;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.25);
    align-items: center;
    position:fixed;
    top:0;
    border-bottom: solid 1px rgba(100,100,100,0.75);
    box-sizing: border-box;
    z-index: 10;
}

#globalNav, #userLogin, #megaFooter, #megaFooter >li > ul {
	list-style: none;
	padding: 0;
	margin: 0;
    width: auto;
    display: inline-block;
}

#globalNav, #userLogin > li {
    width: auto;
    color: #E3EDE6;
}

#userLogin {
    float: right;
}

#globalNav > li, #userLogin > li, #megaFooter > li {
 	position: relative;
 	padding: 15px;
 	text-align: left;
    width: auto;
    display: inline-block;
 }

#globalNav > li {
    /*padding-left: 0px;*/
}

nav img.toplogo {
    position:relative;
    top: 0.5em;
    margin-left: 5px;
    height: 2em;  
}

#userLogin > li {
    padding-right: 0em;
    margin-right: 1em;
}

header {
    max-height: 4em;
}

#megaFooter {
	display: flex;
	justify-content: center;
}

#megaFooter li {
	/*min-width: 20%;*/
	  /*flex-grow: 1;*/
	  width: 10em;
}

footer {
	background: #333;
	color: #fff;
	border-top: solid 1px rgba(100,100,100,0.75);
}

footer img {
    display:none;
}


#host-one-too {
	text-align: right;
}

ul.resourcelist {
    padding-left: 0em;
    vertical-align: middle;
}

ul.resourcelist li {
    /*float:left;*/
    height: 100%;
    width: 100%;
    list-style: none;
    height: 4em;
    padding-top: 0.6em;
    margin-left: 1em;
    clear: both;
}

ul.resourcelist li > a.button {
	float:right;
}

ul.resourcelist li > img, ul.resourcelist li.light-box img  {
    position: initial;
    width: 2em;
    height: auto;
    border-radius: 1.5em;
    padding: 0.5em;
    background: #ffffff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3);
    vertical-align: middle;
    margin-left: 0em;
    margin-right: 2em
}

ul.resourcelist .button {
    float:right;
    right: 0px;
    margin-right: 1em;
}

#add-resource #create-event-button, #contactDetails .light-box span { display: none;}

 #create-event-button{
    position: initial;
    width: 2em;
    height: auto;
    border-radius: 1.5em;
    padding: 0.5em;
    background: #ffffff;
    box-shadow: 0px 0.1em 0.2em;
    vertical-align: middle;
    margin-left: -1em;
    margin-right: 2em;
    background:rgba(137,194,140,1);
}

.eventResult {
	overflow: auto;
	margin:1.5em 0;
}
.eventListImages {
	width: 200px;
	float: left;
	margin: 8px 16px 0 0;
}

.eventListDescriptions {
	margin-left: 216px;
}

.eventListDescriptions h2 {
	margin:0;
}

p {
	margin:0.66em 0;
}
 
 nav, section {
 	/*overflow: auto;*/
 	max-width: 46em;
    margin: 0 auto 0;
    padding-top: 0em;
    padding-left: 1em;
    padding-right: 1em;
 }

nav #back {
    display: none;
    height: 100%;
}

 .notBuilt {
 	cursor: not-allowed;
 }


/* Profile page specific styling. */

div#contactDetails {
    overflow:auto;
}

div#contactDetails > img {
    width: 12em;
    height: 12em;
    border-radius: 6em;
    float:left;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
}

div#contactDetails h1 {
    display:block;
}



/* Page hero styles. */

section#hero {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height:20em;
    overflow: hidden;
    position:fixed;
    padding:0em;
    padding-bottom: 1em;
    z-index: -1;
    top:3em;
}

section#hero + section {
	margin-top:24em;
	padding-top:0.33em;
	/*border-top: solid 1px white; */
    min-width: 320px;
}

/** http://stackoverflow.com/questions/16589519/use-css-gradient-over-background-image */
section#hero:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.75) 100%);
}

section#hero > img.hero {
    position:absolute;
    left:-100%;
    right:-100%;
    top:-100%;
    bottom:-100%;
    margin:auto;
    min-width: 100%;
    height:auto;
    min-height: 100%;
    z-index: 0;
}

section#hero > div {
    padding-left: 1em;
    padding-right: 1em;
    max-width: 46em;
    display:block;
    position: absolute;
    left:0;
    right:0;
    bottom: 0;
    margin: 0 auto 0;
    z-index: 2;
}

section#hero > div.actions {
    padding-left: 1em;
    padding-right: 1em;
    display:block;
    position: absolute;
    left:0;
    right:0;
    top: 0;
    margin: 0 auto 0;
    text-align: right;
}

section#hero div * {
    color: #ffffff;
    vertical-align: bottom;
}

section#hero > h1 {
    color: #ffffff;
}


section#hero .buttonMinor {
    float: right;
    margin-top: 1em;
    right: 0em;
}



span#create-event-button {
	height: 2em;
	width: 2em;
	position: fixed;
	bottom: 6.66em;
	right: 0.2em;
}


#createPage #hero {

/*	background-color:#333;
	background-image: linear-gradient(#111 2px, transparent 2px),
	linear-gradient(90deg, #111 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:96px 96px, 96px 96px, 16px 16px, 16px 16px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
*/
}

#createPage .text-entered label {
	display: none;
}
#createPage #create-event-title label {
	/*box-sizing: border-box;*/
	/*bottom: 16px;*/
	/*left: 0;*/
	/*right: 0;*/
	pointer-events: none;
	position: relative;
	top: -1.35em;
	width: 100%;
/*	overflow: hidden;
	white-space: nowrap;*/
}

#createPage input[type=text], #createPage textarea {
	width: 100%;
}

#createPage input, #createPage textarea{
	border:none;
	border-bottom:solid white 2px;
	margin:0;
	margin-bottom: -2px;
	transition : all 25ms cubic-bezier(.98,0,1,.28);
    background: rgba(255, 255, 255, 0.4);

}
#createPage input:focus, #createPage textarea:focus {
	border-bottom:solid white 4px;
	outline: none;
	bottom: 14px;
}

#createPage label[for="event_title"] {
	padding: 0;
	font-weight: bold;
	color:#999999;
}
 input[name="event_title"] {
 	padding: 0;
 	font-family: adelle, serif;
	font-size: 2em;
 	}

fieldset {
	border:none;
	padding: 0;
	margin: 0;
}
fieldset legend {
	display: none;
}

#createPage #templates {
	padding:0;
}


   	#createPage fieldset {
    		border: none;
    		padding: 0;
    		margin:1em 0; 
    	}
    	#createFromTemplate {
    		width: 100%;
    	}
    	#templates {
    		width: 90%;	
    		white-space: nowrap;
    		overflow-x: scroll;
    	}
    	#createPage input[type="radio"] {
		    -webkit-appearance:none;
   			-moz-appearance:none;
        	appearance:none;
    	}
    	#createPage #createFromTemplate label {
    		    width:150px;height:200px;
    		    display:inline-block;
    		    white-space:normal;
    		    color:#000000;
    		    padding:0.5em;
    		    vertical-align: middle;
    		    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.3); 
    	}
    	#createPage #createFromTemplate label:before {
    		width:150px;height:150px;
    		background-size:contain;
    		background-repeat:no-repeat;
    		background-position:100%,0%;
    		content: " ";
    		display: block;
    		opacity: 0.5;
    	}

    	#createPage #createFromTemplate label.checked:before {
    		opacity: 1;
    		box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .5), inset 0 2px 0 1px rgba(58,171,111, 0.5);
    	}
    	#createPage #createFromTemplate label:nth-child(1):before {
    			width:150px;height:150px;
    		background:#cccccc;
    	}
    	#createPage #createFromTemplate label:nth-child(2):before {
    			width:150px;height:150px;
    		background-image:url(../img/EventThumbnail3.jpg);

    	}
    	#createPage #createFromTemplate label:nth-child(3):before {
    			width:150px;height:150px;
    		background-image:url(../img/EventThumbnail4.jpg);
    	}
    	#createPage #createFromTemplate label:nth-child(4):before {
    			width:150px;height:150px;
    		background-image:url(../img/EventThumbnail2.jpg);
    	}
    	#createPage #createFromTemplate label:nth-child(5):before {
    			width:150px;height:150px;
    		background-image:url(../img/EventThumbnail1.jpg);
    	}



/* Styles for use in Modal for resource selection*/

#resourceSelector ul {
	list-style: none;
	margin: 0;
	padding:0;
}


#resourceSelector ul li {
	margin:1em;
	width:100%;
	height:initial;
}


#resourceSelector .active, #resourceSelector .active > li, #resourceSelector li.selected  {
	display:block;
}

#resourceSelector li {
	display:none;
}
#modalAddResource {
	display: none;
}

.dimmed #modalAddResource {
	display: block;
	z-index: 4;
	position: absolute;
	background: white;
	top:5em;
	left: 0;
	right: 0;
	width: 20em;
	padding: 2em;
	margin: auto;
}

main.dimmed:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.75) 100%);
}



/******************************************/
/******************************************/
/* Mobile-specific styles. */
/******************************************/
/******************************************/

@media only screen and (max-width:600px) {
    
    /** Show mobile-specific navigation. */
    
    #globalNav > li {
        display: none;
    }

    nav {
    	padding-left: 0;
        min-width: 320px;
        z-index: 999;
    }
    
    nav #back {
        display: inline-block;
        padding:0.9em 1em 0.5em;
        border-right: solid 1px rgba(1, 1, 1, 0.1);
        box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.2);
    }

    nav #back img {
    	height: 1.8em;
    }
    nav #back:hover {
		background-color: rgba(31, 170, 91, 1);
    }
    
    nav .toplogo {
        display:none;
    }
    
    main {
        margin-top: 3em;
    }


    footer {
        position:fixed;
        bottom:0;
        z-index: 999;
        width: 100%;
        min-width: 320px;
        min-height: 5em;
        max-height: 5em;
    }
    
    footer > ul#megaFooter > li {
        float: left;
        width:auto;
        min-width: 20%;
        max-width: 20%;
        min-height: 5em;
        padding: 0px 1em;
        text-align: center;
        vertical-align: bottom;
        font-size: 0.75em;
    }
    
    footer > ul#megaFooter ul {
        display:none;
    }
    
    footer img {
        display: block;
        width: 3em;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
        opacity: 0.5;
    }

    footer .active img {
    	opacity: 1;
    }
    
    footer h3 {
        margin-top: 0.1em;
        color:#999;
    }

	footer .active h3 {
        margin-top: 0.1em;
        color:#FFF;
    }
    
    /** Profile display - mobile. */
    
    div#contactDetails > img {
        display: block;
        margin-left: auto;
        margin-right: 1em;
    }
    
    
    /** Mobile-specific font sizes. */
    
    section#hero {
        height:15em;
    }

    section#hero + section {
    	padding-top: .33px;
    	margin-top: 19em;
    }
    
    h1 {
        font-size: 2em;
    }
    
	.hide-mobile {
		display:none !important;
	}

    html, body {
        font-size: 14px;
        background: #E3EDE6;
    }
    
	.eventResult {
		overflow:hidden;
	}


	.eventListDescriptions {
		margin: 16px 0; 
	}

	img.eventListImages {
 		width: 100%;
 		float: none;
 	}

    #createPage #templates {
		margin: 0 0 0 1em;
	}
    

	section#helpOut, section#community {
		 padding-top: 3em;	
	}

	#contactDetails .calltoaction {
		display: none;
	}
	#contactDetails .light-box span , #contactDetails .calltoaction #create-event-button {
		display: block;
	}


    
}


/******************************************/
/******************************************/
/* Tablet-specific styles. */
/******************************************/
/******************************************/

@media only screen and (min-width: 600px) and (max-width: 1024px) {
	
    footer {
        display: none;
    }
    
    nav, section {
        max-width: none;        
    }
   
    /* Float any hero element over to the left of the page. */
    section#hero {
        float: left;
        z-index: 1;
        max-width: 320px;
        width: 320px;
        min-width: 320px;
        min-height: calc(100% - 4em);
        margin-top: 0.3em;
        box-shadow: 0px 0.1em 0.2em;
    }
    
    section#hero > * {
        padding-bottom: 1em;
    }
    
    section#hero + section {
        margin-top: 0em;
    }
    
    /** No special formatting for a section following a hero. */ 
    section#hero ~ section:not(#hero) {
        position: static;
        right: 1em;
        max-width: 46em;
        margin: 0 auto 0;
        margin-top: 3em !important;
        margin-left: 336px;
        margin-right: 1em;
    }

    #templates {
    		width: initial;	
    	}
    #createPage #change_image a {
    	color:#999;
    }

    main {
        float: right;
        min-height:100%;
        max-height: 100%;
        width: 100%;
        overflow: hidden;
        padding-top: 1em;
    }
    
    html, body {
        font-size: 16px;
        background: #E3EDE6;
    }
}



#search input[type=text] {
	width:100%;
	height: 32px;
	/*padding:16px;*/
	margin-top: 2em;
	background:white url(../img/icons/BLACKmagnifyingGlass.svg) no-repeat 99% center;
	background-size: 20px;
}

section#searchTool + section {
	clear:both;
}

section#mainLogo {
	padding-top: 6em;
}

section#helpOut, section#community {
	 padding-top: 3em;	
}
